.drag__dropContainer {
  width: 100%;
  height: 40vh;
  position: relative;
  border: 8px dashed var(--shadow);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.22s ease-in-out;
  color: var(--shadow);
}

.drag__dropContainer--drag,
.drag__dropContainer:hover {
  border: 8px dashed var(--primary);
  color: var(--primary) !important;
}
.drag__drop {
  cursor: pointer;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

.file__upload > form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.file__uploadContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 35%;
}

.file__uploadContent > div {
  margin-right: 8px;
}

.browse {
  font-weight: 600;
  color: var(--primary);
}
