.drag__dropContainer {
  width: 100%;
  height: 40vh;
  position: relative;
  border: 8px dashed #7f50ff5a;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  transition: all 0.22s ease-in-out;
  align-items: center;
}

.drag__dropContainer:hover {
  border: 8px dashed var(--primary);
}
.drag__drop {
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

.file__upload > form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.browse::before {
  content: "select your file or drop it here";
  color: var(--primary);
  display: inline-block;
  border: 3px solid var(--primary);
  border-radius: 5px;
  padding: 8px 25px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
  transition: all 0.22s ease-in-out;
}

.browse:hover::before {
  color: var(--white);
  background-color: var(--primary);
  border-color: var(--white);
}
.browse::-webkit-file-upload-button {
  visibility: hidden;
}
.browse {
  border: none;
  outline: none;
  z-index: 1000;
  color: transparent;
}
