@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap");
:root {
  --primary: #0030ea;
  --primaryDark: #001d91;
  --primaryDull: #0030ee;
  --secondary: #ff707e;
  --secondaryDull: #ff7c89;
  --textPrimary: #ffffff;
  --textSecondary: #000000;
  --shadow: #b0bec5;
  --surface: #ffffff;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  background-color: var(--surface);
}

#root {
  height: 100%;
  box-sizing: border-box;
}

.app {
  height: 100%;
  box-sizing: border-box;
  padding-top: 5rem;
}
.app__menu {
  position: relative;
}

a {
  color: var(--textSecondary);
  text-decoration: none;
}

.MuiFormControl-fullWidth,
.MuiFormControl {
  margin-bottom: 1rem !important;
}
