.staffs__card,
.students__card,
.classroom__card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.staffs__card > div,
.students__card > div,
.classroom__card > div {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow-x: scroll;
}
.staffs__card > div::-webkit-scrollbar,
.students__card > div::-webkit-scrollbar,
.classroom__card > div::-webkit-scrollbar {
  display: none;
}

.editClassroom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.676);
}

.editClassroom > .MuiCard-root {
  transform: translateY(-30vh);
}
.editClassroom__container {
  height: fit-content;
  width: 50vw;
}
.editClassroom__container form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  padding-top: 0;
}

.editClassroom__cancel {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}
.select {
  width: 100%;
  border: 2px solid #00c853;
  border-radius: 5px;
  height: fit-content;
  padding: 0.5rem;
}
.select > select {
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
}

option {
  background-color: none;
  padding: 0.5rem !important;
}
