.showClassrooms {
  /* background-color: #000; */
  margin-top: 1em;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.showClassrooms__card {
  background-color: #fff;
  width: 350px;
  height: 400px;
  max-width: 500px;
  min-width: 250px;
  border-radius: 5px;
  position: relative;
  top: 0;
  box-shadow: 2px 2px 8px var(--shadow);
  transition: all 0.22s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.showClassrooms__card:hover {
  top: -5px;
  box-shadow: 2px 8px 16px var(--shadow);
}

.showClassroom__cardContents {
  padding: 2em;
  height: 100%;
}
.showClassroom__cardContents > p,
h3 {
  cursor: pointer;
}
