.menu {
  display: flex;
  width: 100vw;
  height: 50.6609px;
  background: var(--white);
  box-shadow: 2px 0px 8px 0px var(--shadow);
  position: fixed;
  z-index: 1000;
}

.menu__navItem {
  flex: 0.06;
  padding: 0.8rem 0;
  text-align: center;
  font-size: 0.9375rem;
}

.menu__navItem a {
  font-weight: 600;
}

.menu__navItem > .active__link {
  color: var(--primary);
}

.menu__nav {
  display: flex;
  justify-content: flex-end;
}
